  <a href="#" class="collection-item">
    {{!-- <h6>
      <i class="mdi-toggle-star-outline grey-text favorite-icon"></i>
    </h6> --}}
    <div class="row valign-wrapper">
      <div class="col s2">
        <img src="http://cdn.libravatar.org/avatar/5e286ca43990910749b9837adaf21596?s=30&d=retro" class="circle avatar">
      </div>
      <div class="col s10">
        <span class="title"><b>{{submission.title}}</b></span>
        <br><small class="grey-text">posted by {{submission.user.account.display_name}} on 2015-11-02 12:32</small>
      </div>
    </div>
    <p class="grey-text">
      Conferinta va avea loc pe 31. aug, in Oslo, si are ca punct
      focal datele deschise
    </p>
  </a>
