{{#link-to submission.show_route submission.id class="collection-item"}}
    <div class="row valign-wrapper">
      <div class="col s2">
        {{libravatar-image email=submission.user.email size=36 secure=false class='circle avatar'}}
      </div>
      <div class="col s10">
        <span class="title"><b>{{submission.title}}</b></span>
        <br><small class="grey-text">posted by {{submission.user.account.display_name}} on 2015-11-02 12:32</small>
      </div>
    </div>
    <small class="grey-text">
        {{submission.description_fragment}}
    </small>
{{/link-to}}
