<div class="row grey lighten-5">
  <div class="col s3">
    <div class="row">
      <div class="input-field col s12">
        <input id="filter-resources" type="text">
        <label for="filter-resources">Filter resources</label>
        {{!--
        <i class="mdi-action-search prefix"></i>
        <input id="filter-resources" type="text">
        <label for="filter-resources">Filter resources</label>
        --}}
      </div>
    </div>
    <div class="collection">
      <a href="#" class="collection-item">
        <h6>
          <i class="mdi-toggle-star grey-text favorite-icon"></i>
        </h6>
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="http://cdn.libravatar.org/avatar/5e286ca43990910749b9837adaf21596?s=30&d=retro" class="circle avatar">
          </div>
          <div class="col s10">
            <span class="title"><b>Conferinta internationala de Jurnalism</b></span>
            <br><small class="grey-text">
              posted by Andreea on 2015-11-02 12:32
            </small>
          </div>
        </div>
        <p class="grey-text">
          Conferinta va avea loc pe 31. aug, in Oslo, si are ca punct
          focal datele deschise
        </p>
      </a>
      <a href="#" class="collection-item">
        <h6>
          <i class="mdi-toggle-star-outline grey-text favorite-icon"></i>
        </h6>
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="http://cdn.libravatar.org/avatar/5e286ca43990910749b9837adaf21596?s=30&d=retro" class="circle avatar">
          </div>
          <div class="col s10">
            <span class="title"><b>Conferinta internationala de Jurnalism</b></span>
            <br><small class="grey-text">posted by Andreea on 2015-11-02 12:32</small>
          </div>
        </div>
        <p class="grey-text">
          Conferinta va avea loc pe 31. aug, in Oslo, si are ca punct
          focal datele deschise
        </p>
      </a>
      <a href="#" class="collection-item">
        <i class="mdi-editor-insert-chart circle"></i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
      </a>
      <a href="#" class="collection-item">
        <i class="mdi-av-play-arrow circle"></i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
      </a>
      <a href="#" class="collection-item">
        <i class="mdi-av-play-arrow circle"></i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
      </a>
    </div>
  </div>
  <div class="col s6">Content<br>{{outlet}}</div>
  <div class="col s3">
    <div class="row">
      <div class="input-field col s12">
        <input id="filter-assignments" type="text">
        <label for="filter-assignments">Filter assignments</label>
      </div>
    </div>
    <div class="collection">
      <a href="#" class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="http://cdn.libravatar.org/avatar/5e286ca43990910749b9837adaf21596?s=30&d=retro" class="circle avatar">
          </div>
          <div class="col s10">
            <span class="title"><b>Conferinta internationala de Jurnalism</b></span>
            <br><small class="grey-text">posted by Andreea on 2015-11-02 12:32</small>
          </div>
        </div>
        <p class="grey-text">
          Conferinta va avea loc pe 31. aug, in Oslo, si are ca punct
          focal datele deschise
        </p>
      </a>
      <a href="#" class="collection-item">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="http://cdn.libravatar.org/avatar/5e286ca43990910749b9837adaf21596?s=30&d=retro" class="circle avatar">
          </div>
          <div class="col s10">
            <span class="title"><b>Conferinta internationala de Jurnalism</b></span>
            <br><small class="grey-text">posted by Andreea on 2015-11-02 12:32</small>
          </div>
        </div>
        <p class="grey-text">
          Conferinta va avea loc pe 31. aug, in Oslo, si are ca punct
          focal datele deschise
        </p>
      </a>
      <a href="#" class="collection-item">
        <i class="mdi-av-play-arrow circle"></i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
      </a>
      <a href="#" class="collection-item">
        <i class="mdi-av-play-arrow circle"></i>
        <span class="title">Title</span>
        <p>First Line <br>
           Second Line
        </p>
      </a>
    </div>
  </div>
</div>
