<div class="row grey lighten-4">
  <div class="col s3">
    {{user-submission-list submissions=resources}}
  </div>
  <div class="col s6">Content<br>{{outlet}}</div>
  <div class="col s3">
    {{user-submission-list submissions=assignments}}
  </div>
</div>

<script type="text/javascript">
$('div.collection').css('height', ($('main').height()-96));
$('div.collection').perfectScrollbar();
</script>
