<div class="v50"></div>

<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <form {{action 'authenticate' on='submit'}}>
      {{md-input value=identification label='Email address' type='email' validate=true icon='mdi-communication-email teal-text text-darken-4'}}
      {{md-input value=password label='Password' type='password' validate=true icon='mdi-communication-vpn-key teal-text text-darken-4'}}

      {{md-btn-submit icon='mdi-content-send'
          iconPosition='right'
          text='Login'
          class='right yellow darken-3'}}
    </form>
  </div>
</div>

